@{
    Layout = "_Layout";
    ViewData["Title"] = "Events";
}

@if (TempData["SuccessMessage"] != null)
{
    <div class="success-message">
        @TempData["SuccessMessage"]
    </div>
}
<h2>A</h2>
<!-- Kortkomponenter -->
<section class="services">
    <div class="container">
        <div class="card">
            <img src="~/images/restaurang.png" alt="Kök & Bar">
            <h3>Magnus Ugglas liveshow</h3>
            <p>Kom och upplev en oförglömlig kväll fylld med hits, energi och ren rock’n’roll.</p>
            <p>Magnus Uggla bjuder på en spektakulär liveshow med alla sina klassiska låtar och nya favoriter – en kväll där du garanterat kommer att sjunga med!</p>
            <p>Perfekt för alla åldrar.</p>
        </div>
        <div class="card">
            <img src="~/images/spa.png" alt="Paket & Erbjudande">
            <h3>Steve n Seagulls</h3>
            <p>Bluegrass möter rock – missa inte Steve 'n' Seagulls live!</p>
            <p>Det finska fenomenet Steve 'n' Seagulls är tillbaka med sin unika blandning av bluegrass och klassisk rock.</p>
            <p>Med banjo, kontrabas och massor av energi tar de dina favoritlåtar till en helt ny nivå!</p>
        </div>
        <div class="card">
            <img src="~/images/parking.png" alt="Parkering">
            <h3>Buggkväll</h3>
            <p>Välkommen till en fartfylld buggkväll! Ta på dig dansskorna och gör dig redo för en kväll fylld med svängig musik, härlig stämning och massor av dansglädje. </p>
            <p>Oavsett om du är nybörjare eller rutinerad dansare – alla är välkomna på dansgolvet!</p>
        </div>
    </div>
</section>
